<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CmdGainEnergy" value=""/>
    <add key="CmdLoseEnergy" value=""/>
    <add key="CmdGainCard" value=""/>
    <add key="CmdLoseCard" value=""/>
    <add key="CmdNextRound" value=""/>
    <add key="CmdNewGame" value=""/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>